body{
    margin: 0;
    background-color: black solid;
    color:white solid;
}
.header{
    margin: 0%;
    height:50px;
    display :flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu_area{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 20px;
    transition: transform 0.3s,background-color 0.3s;
}
button[type="search"]:hover{
    background-color: rgb(160, 44, 44);
    border: none;
    cursor: pointer;
}
.icon_area{
    display: flex;
    align-items: center;
    margin-left: 0%;
}
.main-content{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.target{
    margin-left:1px;
    margin-top: 20px;
    align-self: center;
}
.services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
}
.lists{
    display: flex;
    gap:100px;
    list-style:none;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;

}
.list button{
    background-color: coral;
    color:azure;
    border-color:rgb(6, 240, 65);
    cursor:pointer;
}
.kumar{
    margin-top:40px ;
    display: flex;
    gap:50px;
    justify-content:space-evenly;
    flex-wrap: wrap;
    list-style: none;
    background-color: black solid;
    text-align: center;
}
.sai{
    display: flex;
    gap:50px;
    justify-content:space-evenly;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    background-color: black solid;
    text-align: center;
}
.gsk{
    display: flex;
    gap:50px;
    justify-content:space-evenly;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    background-color: black solid;
    text-align: center;
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img10, .img11, .img12, .img13{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s,background-color 0.3s;
    background-color: black solid;
}
.footer1{
    display: flex;
    gap:200px;
    list-style:none;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 0%;
}
.help{
   display:flex;
    gap:200px;
    list-style:none;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 0%;

}
.bottom_footer{
    margin:0%;
    height:0px;
    display :flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}
.social_media{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 20px;
    list-style: none;

}


